name: LICENSE and README Addon Copier

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - LICENSE
      - README.md
  pull_request:
    paths:
      - LICENSE
      - README.md

permissions: write-all

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  copy-files:
    name: Copy Files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Copy files
        run: |
          cp LICENSE addons/immediate_gizmos/LICENSE
          cp README.md addons/immediate_gizmos/README.md
      - name: Commit files
        uses: devops-infra/action-commit-push@v1.0.3
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          commit_message: "docs: update addon license and readme"