name: LICENSE and README Addon Copier

on:
  push:
    branches: ["main"]
    paths:
      - LICENSE
      - README.md
  pull_request:
    paths:
      - LICENSE
      - README.md

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  copy-files:
    name: Copy Files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Copy files
        run: |
          cp LICENSE addons/immediate_gizmos/LICENSE
          cp README.md addons/immediate_gizmos/README.md
      - name: Commit files
        run: |
          git add addons/immediate_gizmos/LICENSE addons/immediate_gizmos/README.md
          git config user.name actions-bot
          git config user.email actions-bot@users.noreply.github.com
          git commit -m "docs: update addon license and readme"
          git push origin main